.signup {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signupContainer {
    background-color: var(--primary-colour);
    max-width: 1000px;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem;
    border-radius: 10px;
    margin: 1rem 0;
    position: relative;
}

.signupContainer::after {
    content: "";
    width: 150%;
    height: 100%;
    background-color: var(--secondary-colour2);
    opacity: 40%;
    z-index: -10;
    position: absolute;
    padding: 1rem 0;
}

h1, label, input, button {
    font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
}

h1, label {
    color: aliceblue;
}

input {
    color: black;
}

.signupContainer h1 {
    font-size: 3rem;
}

.formContainer {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    width: 100%;
}

.formLabel {
    width: 100%;
    text-align: left;
    font-size: 1.5rem;
    margin-top: 3rem;
}

.formInput {
    width: 100%;
    font-size: inherit;
    height: 40px;
    padding: 0 10px;
}

.passwordInputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.passwordVisibility {
    height: 40px;
    width: 40px;
    padding: 6px;
    background-color: var(--secondary-colour);
}

input:focus {
    outline: none;
}

.loginBtn {
    font-size: 1rem; 
    color: aliceblue;
    margin-top: 3rem;
}

.loginBtn:hover {
    color: rgb(143, 248, 248);
}

.submitBtn {
    color: aliceblue;
    font-size: 2rem;
    font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;  
    width: 80%;
    /* max-width: 400px; */
    height: 5rem;
    background-color: var(--secondary-colour2);
    border: 0px;
    margin-top: 6rem;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.submitBtn:hover {
    transform: scale(1.1);
}