:root {
    --primary-colour: rgb(49, 41, 99);
    --secondary-colour: rgb(72, 61, 139);
    --secondary-colour2: rgb(132, 120, 206);
}

html, body, #root {
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--secondary-colour);
    overflow-y: auto;
}