@import "tailwindcss";

@theme {
    --color-primary-colour: rgb(49, 41, 99);
    --color-secondary-colour: rgb(72, 61, 139);
    --color-secondary-colour2: rgb(132, 120, 206);
    --color-secondary-colour3: #5c3fac;
    --color-complementary-colour: rgb(226, 211, 30);
    --color-complementary-colour2: #CDCAE3;

    --font-hero: "Sekuya", sans-serif
}

html, body, #root {
    height: 100%;
    width: 100%;
}

* {
    font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--secondary-colour);
    overflow-y: auto;
}

textarea:focus, input:focus{
    outline: none;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  box-shadow: 0 0 0 3px #fff inset;
  border-radius: 50%;
  position: relative;
  animation: l11 7s infinite;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: calc(100% + 3px);
  left: calc(50% - 12.5px);
  box-shadow: inherit;
  width: 25px;
  aspect-ratio: 1;
  border-radius: 50%;
  transform-origin: 50% -28px;
  animation: l11 1.5s infinite;
}
.loader:after {
  animation-delay: -0.75s;
}
@keyframes l11 {
  100% {
    transform: rotate(360deg);
  }
}